#register {
    box-sizing: border-box;
    background-color: aquamarine;
    height: 743px;
  }
  #form > input {
    display: block;
    padding: 5px 15px;
    margin-top: 10px;
    width: 290px;
  }
  #form > select {
    padding: 5px 15px;
    margin-top: 10px;
    width: 325px;
    background-color: darkgoldenrod;
    margin-right: 160px;
  }
  h1 {
    background-color: purple;
    text-align: center;
    color: gold;
  }
  #formcont {
    max-width: 50%;
    margin: 0 auto 0 auto;
  }
  #form {
    text-align: center;
    margin-left: 35%;
  }
  #submit {
    text-align: center;
    margin: 10px 0 20px 50%;
    border: 1px solid green;
    background-color: tomato;
    padding: 5px 25px;
    border-radius: 5px;
    font-weight: 600;
  }
  #submit:hover {
    background-color: black;
    color: goldenrod;
    cursor: pointer;
  }
  #submit:active {
    transform: translateY(4px);
  }
  

  #otp{
    background-color:red;
    height: 500px;
    width: 100%;
  }